PORT=5000
MONGODB_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key
PHONEPE_CLIENT_ID=M22SGYECP7TW5_2605211959
PHONEPE_CLIENT_SECRET=NDNlNGIyNmMtOTExMy00NWQ4LThhMDEtZDg4MzU5YWMzN2U3
PHONEPE_ENV=SANDBOX
